body {
    font-size: 15pt;
    background: #3A3C4C;
}

h1, h3 {
  color: #f9f9f9;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.js-save-btn {
  display: none;
}

.task area {
  display: flex;
}

.task-list {
  color: #f9f9f9;
}

.task-list-container {
  display: grid;
  grid-template-columns: 200px 100px;
}